<h2>Add a restaurant:</h2>
<%= simple_form_for(@restaurant) do |form| %>
    <%= form.input :name %><br>
    <%= form.input :category %><br>
    <%= form.input :address %><br>
    <%= form.input :phone_number %><br>
    <%= form.submit %>
    <% end %>
  </p>


